@charset "UTF-8";

    .seguros {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 40px 20px;
    }

    .membership-box {
        padding: 40px 60px;
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .membership-box ul {
        display: grid;
        gap: 20px;
        grid-column: 1/-1;
    }

    .price-membership {
        text-align: right;
    }

    .mensal {
        grid-column: 2;
        text-align: right;
    }

    .membership-advantages li {
        position: relative;
        font-size: 1.2rem;
        color: white !important;
    }

    .membership-advantages li:before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 10px;
        background: url("https://www.origamid.com/projetos/bikcraft/img/icones/lista.svg") no-repeat;
        position: absolute;
        left: -18px;
        top: 4px;
    }

    .membership-button:hover {
        background: #404040;
    }

    .membership-button-1:hover {
        background: #eeaf01 !important;
    }


    @media (min-width: 800px) {
        .seguros {
            grid-template-columns: 1fr 1fr !important;
        }
    
        .seguros > h2 {
            font-size: 3rem;
        }
    
        .membership-box > h2 {
            font-size: 2rem;
        }
    
        .membership-box-1 {
            grid-column: 1;
            align-self: center;
        }
    }


@media (min-width: 800px) {
    .price-membership {
        font-size: 1.855rem;
        font-weight: 600;
    }
}


@media (min-width: 980px) {
    .membership-button {
        padding: 16px 26px;
        font-size: 1.1rem;
    }
}